@model IEnumerable<SaudeWeb.Models.Consulta>

@{
    ViewBag.Title = "Questionário de Saúde";
}
<style>
    #rdQtde {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 2px solid #b5cd60;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 5px;
        position: relative;
        top: 4px;
    }

        #rdQtde:checked {
            border: 5px solid #282e33;
            background: #b5cd60;
        }
</style>
<div class="panel panel-default">
    <div id="panelColorido" class="panel-heading">Questionário de Saúde<span style="float:right"><a style="margin-top:-3px" id="botaoTop" onclick="mostrarPesquisa()" class="btn btn-default btn-sm">...</a></span></div>
    <div id="divPesquisa" class="panel-body" style="display:none">
        @using (Html.BeginForm())
            {
            <div class="form-horizontal">
                <h2 style="text-align:center; font-family:Arial; font-weight:700;">Localizar por:</h2>
                <fieldset>
                    <div class="row" style="padding-bottom:8px;">
                        <div class="form-group col-md-12">
                            @Html.Label("Cliente", new { @class = "control-label col-md-2" })                           
                            <input type="hidden" id="txtCodcliente" name="txtCodcliente" />
                            @Html.TextBox("txtcliente", null, new { @class = "form-control col-md-4 " })                            
                            <input type="button" value="..." onclick="PClienteOpen()" class="btn btn-success" id="botaoTop"/>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.Label("Funcionario", new { @class = "control-label col-md-2" })                            
                            <input type="hidden" id="txtCodfuncioanrio" name="txtCodfuncioanrio" />
                            @Html.TextBox("txtfuncionario", null, new { @class = "form-control col-md-4" })
                            <input type="button" value="..." onclick="PFuncionarioOpen()" class="btn btn-success" id="botaoTop" />
                        </div>
                        <div class="form-group col-md-12">
                            @Html.Label("Data Consulta", new { @class = "control-label col-md-2" })
                            @Html.TextBox("txtdata", null, new { @class = "form-control  col-md-4", @type="date" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.Label("Situação", new { @class = "control-label col-md-2" })
                            @Html.DropDownList("SituacaoConsultaF", null,htmlAttributes: new { @class = "form-control" })                    
                        </div>
                        
                    </div>
                    <div class="row" style="width:200px;float:right;margin-right:5px;height:90px">
                        <label>Quantidade de Registros</label>
                        <div style="border: 0.5px solid #ccc; border-radius:10px">
                            <input id="rdQtde" style="margin-left:3px" type="radio" name="qtdeReg" value="1000"> Todos<br>
                            <input id="rdQtde" style="margin-left:3px" type="radio" name="qtdeReg" value="100"> 100<br>
                            <input id="rdQtde" style="margin-left:3px" type="radio" name="qtdeReg" value="10" checked> 10<br>
                        </div>
                    </div>
                </fieldset>
            </div>

            <input class="btn btn-warning" type="submit" value="Localizar" id="botaoTop" />
        }
    </div>
</div>

<div id="PCliente" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width:70%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Clientes</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="input-group">
                                @Html.TextBox("PClienteFiltro", null, new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <input type="button" id="PClienteBuscar" onclick="PClientePesquisa()" value="Localizar" class="btn btn-success" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="width:100%; height:400px; overflow-y: scroll">
                    <table id="PClienteTable" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width:100px">Controle</th>
                                <th style="width:400px">Cliente</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="botaoTop">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="PFuncionario" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width:70%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Funcionários</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="input-group">
                                @Html.TextBox("PFuncionarioFiltro", null, new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <input type="button" id="PFuncionarioBuscar" onclick="PFuncionarioPesquisa()" value="Localizar" class="btn btn-success" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="width:100%; height:400px; overflow-y: scroll">
                    <table id="PFuncionarioTable" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width:100px">Controle</th>
                                <th style="width:400px">Nome</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Novo", "Create", null, null, new { @class = "btn btn-sm btn-success", @id = "botaoTop" })
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(Model => Model.ClienteDesc)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.funcionarioDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataConsulta)
        </th>
        <th>
            @Html.DisplayName("Situação")
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.funcionarioDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AptoInapto)
        </td>
       
        <td>
            @Html.ActionLink(" ", "Create", new { id=item.Id }, new { @class = "fa fa-pencil-square", @id = "botaoTop", @style = "font-size:24px;padding-left:2.5px;padding-bottom:0;padding-rigth:0;padding-top:0;width:26px;", @title = "Editar" })  
            @Html.ActionLink(" ", "ImpAso", new { id = item.Id }, new { @class = "fa fa-print", @id = "botaoTop", @style = "font-size:24px;padding-left:2.5px;padding-bottom:0;padding-rigth:0;padding-top:0;width:26px", @title = "Imprimir ASO" })
            @if (item.FinanceiroID == null)
            {
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash", @id = "botaoTop", @style = "font-size:24px;padding-left:2.5px;padding-bottom:0;padding-rigth:0;padding-top:0;width:26px", @title = "Excluir" })
            }
            else
            {
                @Html.DisplayName("Financeiro Gerado!")
            }

        </td>
    </tr>
}

</table>
<script>
    function SelecionarCliente(ID, Razao) {
        $("#txtCodcliente").val(ID);
        $("#txtcliente").val(Razao);
        $('#PCliente').modal('toggle');
    }

    function SelecionarFuncionario(ID, Nome) {
        $("#txtCodfuncioanrio").val(ID);
        $("#txtfuncionario").val(Nome);
        $('#PFuncionario').modal('toggle');
    }

    function PFuncionarioOpen() {
        $("#PFuncionario").modal("show");
    }

    function PClienteOpen() {
        $("#PCliente").modal("show");
    }

    function PFuncionarioPesquisa() {
        PesquisaFuncionario();
    }

    function PClientePesquisa() {
        PesquisaCliente();
    }


    function PesquisaCliente() {

        var PClienteTable = $("#PClienteTable").DataTable();

        PClienteTable.clear();

        var url = "@Url.Action("PesquisaCliente","Pesquisa",null)?&filtro=" + $("#PClienteFiltro").val();

        $.getJSON(url, function (data) {

                        $.each(data, function (index, item) {
                        var botao = item["ID"] + ',"' + item["Razao"] + '"';
                        botao = "<input type='button' value='Selecionar' onclick='SelecionarCliente(" + botao + ")' class='btn btn-xs btn-success' />";

                        PClienteTable.row.add([item["ID"],
                                               item["Razao"],
                                               botao]).draw(false);

                    });
                }
            );
    }

     function PesquisaFuncionario() {
            var PFuncionarioTable = $("#PFuncionarioTable").DataTable();
            PFuncionarioTable.clear();
            var url = "@Url.Action("PesquisaFuncionario","Pesquisa",null)?&filtro=" + $("#PFuncionarioFiltro").val();
            $.getJSON(url, function (data) {

                        $.each(data, function (index, item) {
                            var botao = item["ID"] + ',"' + item["Nome"] + '"';
                            botao = "<input type='button' value='Selecionar' onclick='SelecionarFuncionario(" + botao + ")' class='btn btn-xs btn-success' />";
                        PFuncionarioTable.row.add([item["ID"],
                            item["Nome"],
                                               botao]).draw(false);

                    });
                }
            );
    }

     $(document).ready(function () {

         var PClienteTable = $("#PClienteTable").dataTable({
             "paging": false,
             "ordering": false,
             "info": false,
             "searching": false,
             "language": {
                 "emptyTable": "&nbsp"
             }
         }).DataTable();
     });

     $(document).ready(function () {

         var PFuncionarioTable = $("#PFuncionarioTable").dataTable({
             "paging": false,
             "ordering": false,
             "info": false,
             "searching": false,
             "language": {
                 "emptyTable": "&nbsp"
             }
         }).DataTable();
     });
     function mostrarPesquisa() {
         var x = document.getElementById("divPesquisa");
         if (x.style.display === "none") {
             x.style.display = "block";
         } else {
             x.style.display = "none";
         }
     }
</script>