@using SaudeWeb.Utils
@model User.Usuario
@{
    ViewBag.Title = "Recuperar Senha";
}


<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("RecuperarSenha", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Informe o Email", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @*<a id="alert" href="~/Login/RecuperarSenha" class="btn btn-default">Recuperar</a>*@
                        <input id="botaoTop" class="btn btn-default" type="submit" name="btnexcluir" value="Recuperar Senha" />
                        <a id="botaoTop" href="~/Login/Index/" class="btn btn-default" rel="pop-up">Voltar</a>
                    </div>
                </div>

            }
        </section>
    </div>
</div>
<div class="text-primary text-danger text-center">
    @ViewBag.erro
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}