@model SaudeWeb.Models.TabelaPreco

@{
    ViewBag.Title = "Tabela de Preço";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.erro == null)
{
    <h3>Deseja excluir esse registro?</h3>
}
else
{
    <h3 style="color:red">@ViewBag.erro</h3>
}

<div>
    <h4>Tabela de Preço</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (ViewBag.PodeExcluir)
            {
                <input type="submit" value="Excluir" class="btn btn-danger btn-sm" id="botaoTop" />
            }
            else
            {
                <input type="submit" value="Excluir" class="btn btn-danger btn-sm" disabled id="botaoTop" />
            }            
            @Html.ActionLink("Voltar", "Index", null, null, new { @class = "btn btn-info btn-sm", @id = "botaoTop" })
        </div>
    }
</div>
