@model SaudeWeb.Models.Pessoa

@{
    ViewBag.Title = "Médicos";
}
<style>
    #rdQtde {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 2px solid #b5cd60;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 5px;
        position: relative;
        top: 4px;
    }

        #rdQtde:checked {
            border: 5px solid #282e33;
            background: #b5cd60;
        }

    .containerCheckbox {
        margin-top: 25px;
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


        .containerCheckbox input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #b5cd60;
    }

    .containerCheckbox:hover input ~ .checkmark {
        background-color: #ccc;
    }

    .containerCheckbox input:checked ~ .checkmark {
        background-color: #282e33;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .containerCheckbox input:checked ~ .checkmark:after {
        display: block;
    }

    .containerCheckbox .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid #b5cd60;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
<h2>Cadastro</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Médicos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="form-group col-md-6">
                @Html.Label("Nome", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Razao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Razao, "", new { @class = "text-danger" })
            </div>    
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Situacao, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("Situacao", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.Situacao, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Situacao, "", new { @class = "text-danger" })
            </div>  
            
           
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                @Html.Label("CPF", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CNPJ, new { htmlAttributes = new { @class = "form-control",  @onkeypress = "MascaraCPF(this, event)", @maxlength = "14" } })
                @Html.ValidationMessageFor(model => model.CNPJ, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.IE, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.IE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IE, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.CRM, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CRM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CRM, "", new { @class = "text-danger" })
            </div>
            
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control", @onkeypress = "mascaraCep(this, event)", @onblur = "ValidaCep(this)", @maxlength = "10" } })
                @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.CidadeID, "Cidade", htmlAttributes: new { @class = "control-label " })
                @Html.HiddenFor(model => model.CidadeID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.EditorFor(model => model.CidadeDesc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                <input type="button" value="..." onclick="PCidadeOpen()" class="btn btn-success" id="botaoTop"/>   
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Fone1, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Fone1, new { htmlAttributes = new { @class = "form-control", @onkeypress = "MascaraTelefone(this, event)" } })
                @Html.ValidationMessageFor(model => model.Fone1, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Fone2, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Fone2, new { htmlAttributes = new { @class = "form-control", @onkeypress = "MascaraCelular(this, event)" } })
                @Html.ValidationMessageFor(model => model.Fone2, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Fone3, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Fone3, new { htmlAttributes = new { @class = "form-control", @onkeypress = "MascaraTelefone(this, event)" } })
                @Html.ValidationMessageFor(model => model.Fone3, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>  
            <div class="form-group col-md-6">
                <label style="float:right" class="containerCheckbox">
                    Repasse Proporcional
                    <input type="checkbox" id="checkAtivo" name="checkAtivo" value="1" checked>
                    <span class="checkmark"></span>
                </label>                
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Observacao, new { style = "width: 800px; height: 200px;", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Observacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success btn-sm" id="botaoTop"/>
                @Html.ActionLink("Voltar", "Index", null, null, new { @class = "btn btn-info btn-sm", @id = "botaoTop" })
            </div>
        </div>
    </div>
}
<div id="PCidade" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width:70%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cidades</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="input-group">
                                @Html.TextBox("PCidadeFiltro", null, new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <input type="button" id="PCidadeBuscar" onclick="PCidadePesquisa()" value="Localizar" class="btn btn-success" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="width:100%; height:400px; overflow-y: scroll">
                    <table id="PCidadeTable" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width:100px">Controle</th>
                                <th style="width:400px">Descrição</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function SelecionarCidade(ID, CidadeUF) {
        $("#CidadeID").val(ID);
        $("#CidadeDesc").val(CidadeUF);
        $('#PCidade').modal('toggle');
    }

    function PCidadeOpen() {
        $("#PCidade").modal("show");
    }



    function PCidadePesquisa() {
        PesquisaCidade();
    }


    function PesquisaCidade() {

        var PCidadeTable = $("#PCidadeTable").DataTable();

        PCidadeTable.clear();

        var url = "@Url.Action("PesquisaCidade","Pesquisa",null)?&filtro=" + $("#PCidadeFiltro").val();

        $.getJSON(url, function (data) {

                        $.each(data, function (index, item) {
                            var botao = item["ID"] + ',"' + item["CidadeUF"] + '"';
                        botao = "<input type='button' value='Selecionar' onclick='SelecionarCidade(" + botao + ")' class='btn btn-xs btn-success' />";

                        PCidadeTable.row.add([item["ID"],
                            item["CidadeUF"],
                                               botao]).draw(false);

                    });
                }
            );
    }



     $(document).ready(function () {

         var PCidadeTable = $("#PCidadeTable").dataTable({
             "paging": false,
             "ordering": false,
             "info": false,
             "searching": false,
             "language": {
                 "emptyTable": "&nbsp"
             }
         }).DataTable();
     });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
